body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.visually-hidden {
  display: none;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.section-title {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d4af37;
}

.section-subtitle {
  margin-top: 22px;
  font-size: 44px;
  font-weight: 600;
  color: #021725;
}

.section-description {
  margin-top: 54px;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  color: #021725;
}

.button {
  margin-top: 46px;
  border: 1px solid #000000;
  background-color: transparent;
  padding: 23px 48px;
  font-size: 14px;
  font-weight: 300;
  text-color: #021725;
}

.button:hover {
  background-color: rgba(212, 175, 55, 0.8);
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 48px;
  background-color: transparent;
}

.header-button {
  border: none;
  padding-right: 28px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent url("../img/header/header-menu-icon.png") 90% no-repeat;
}

@media (max-width: 767px) {
  .header {
    padding: 0;
    background-color: rgba(36, 47, 53, 0.7);
  }

  .header-logo {
    margin-top: 14px;
    margin-bottom: 18px;
    margin-left: 28px;
  }

  .header-button {
    background-color: rgba(36, 47, 53, 0.9);
    background-position-x: center;
    width: 60px;
  }
}

.main {
  background: #d4af37 url("../img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
  padding-top: 310px;
  padding-bottom: 310px;
  text-align: center;
}

.main-title {
  font-size: 80px;
  font-weight: 300;
  line-height: 110px;
  color: #ffffff;
}

.main-title span {
  font-style: italic;
}

.main-arrow {
  display: none;
}

@media (max-width: 767px) {
  .main {
    background: #d4af37 url("../img/main/main-bg__mobile.jpg") center no-repeat;
    background-size: cover;
    padding-top: 492px;
    padding-bottom: 492px;
  }

  .main-title {
    font-size: 95px;
    line-height: 125px;
  }

  .main-arrow {
    display: block;
    margin-top: 54px;
  }
}

@media (max-width: 575px) {
  .main {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  .main-title {
    font-size: 60px;
    line-height: 75px;
  }

  .main-arrow {
    margin-top: 30px;
  }
}

.projects-menu {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  max-width: 1300px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects-menu__item {
  padding: 4px;
  max-height: 304px;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

@media (max-width: 1299px) {
  .projects-menu {
    max-width: 650px;
  }

  .projects-menu__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .projects-menu__item {
    max-height: 250px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.employees-list {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.employees-list__item {
  margin-left: 5px;
  first-child-margin-left: 0;
}

.employee-text {
  width: 246px;
  background-color: #f9f9f9;
  text-align: left;
  padding: 20px 20px 36px 20px;
}

.employee__position {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d4af37;
}

.employee__name {
  margin-top: 21px;
  font-size: 21px;
  font-weight: 400;
  color: #021725;
}

.employee__description {
  margin-top: 37px;
  font-size: 13px;
  font-weight: 300;
  line-height: 23px;
  color: #021725;
}

@media (max-width: 767px) {
  .employees-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .employees-list__item {
    margin-top: 20px;
    width: 100%;
    first-child-margin-top: 0;
  }

  .employee__photo {
    width: 100%;
  }

  .employee__photo img {
    width: 100%;
  }

  .employee-text {
    width: 100%;
  }
}

.blog-block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 390px;
}

.blog-img {
  height: 387px;
}

.blog-img img {
  max-height: 100%;
}

.blog-text {
  max-width: 387px;
  height: 387px;
  background-color: #f9f9f9;
  padding-top: 44px;
  padding-right: 39px;
  padding-left: 39px;
  padding-bottom: 44px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog-text__date {
  font-size: 13px;
  font-weight: 400;
  color: #505d68;
  text-transform: uppercase;
}

.blog-text__title {
  font-size: 30px;
  font-weight: 400;
  color: #505d68;
}

.blog-text__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #505d68;
}

.blog-text__button {
  margin-top: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 125px;
}

@media (max-width: 767px) {
  .blog-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: none;
  }

  .blog-img {
    height: 300px;
    max-width: none;
    width: 100%;
  }

  .blog-img img {
    max-width: 100%;
    max-height: none;
  }

  .blog-text {
    height: 390px;
    width: 100%;
  }

  .blog-text__description {
    font-size: 13px;
  }
}