body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.visually-hidden {
  display: none;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.section-title {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d4af37;
}

.section-subtitle {
  margin-top: 22px;
  font-size: 44px;
  font-weight: 600;
  color: #021725;
}

.section-description {
  margin-top: 54px;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  color: #021725;
}

.button {
  display: inline-block;
  margin-top: 46px;
  border: 1px solid #000000;
  background-color: transparent;
  padding: 23px 48px;
  font-size: 14px;
  font-weight: 300;
  color: #021725;
}

.button:hover {
  background-color: rgba(212, 175, 55, 0.8);
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 575px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_scroll {
  background-color: rgba(36, 47, 53, 0.7);
}

.header-logo {
  margin: 16px 48px;
}

.header-button {
  margin: 10px 48px;
  border: none;
  padding-right: 28px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: transparent url("../img/header/header-menu-icon.png") 90% 49% no-repeat;
}

.header-button:hover {
  cursor: pointer;
}

.header-button:focus {
  outline: none;
}

.header-menu {
  position: absolute;
  top: 7%;
  right: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.header-menu__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-menu__item:hover {
  cursor: pointer;
  text-decoration: none;
  color: #d4af37;
}

.header-menu_active {
  left: 55%;
}

@media (max-width: 1199px) {
  .header-menu {
    width: 60%;
    top: 11%;
  }

  .header-menu__item {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }

  .header-menu_active {
    left: 55%;
  }
}

@media (max-width: 991px) {
  .header-menu {
    width: 70%;
    top: 19%;
  }

  .header-menu__item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
  }

  .header-menu_active {
    left: 51%;
  }

  .header-logo {
    width: 100px;
    margin-left: 30px;
  }

  .header-logo img {
    width: 100%;
  }

  .header-button {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0;
    background-color: rgba(36, 47, 53, 0.7);
  }

  .header-menu {
    position: absolute;
    left: 50%;
    top: -500px;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(36, 47, 53, 0.7);
  }

  .header-menu__item {
    width: 100%;
    border-bottom: 1px dotted #ffffff;
    border-right: none;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }

  .header-menu__item:last-child {
    border-bottom: none;
  }

  .header-menu_active {
    top: 200%;
  }

  .header-logo {
    width: 150px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 28px;
  }

  .header-button {
    margin: 0;
    background-color: rgba(36, 47, 53, 0.9);
    background-position-x: center;
    width: 60px;
  }
}

.main {
  background: #d4af37 url("../img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
  padding-top: 310px;
  padding-bottom: 310px;
  text-align: center;
}

.main-title {
  font-size: 80px;
  font-weight: 300;
  line-height: 110px;
  color: #ffffff;
}

.main-title span {
  font-style: italic;
}

.main-arrow {
  display: none;
}

@media (max-width: 767px) {
  .main {
    background: #d4af37 url("../img/main/main-bg__mobile.jpg") center no-repeat;
    background-size: cover;
    padding-top: 492px;
    padding-bottom: 492px;
  }

  .main-title {
    font-size: 95px;
    line-height: 125px;
  }

  .main-arrow {
    display: block;
    margin-top: 54px;
  }
}

@media (max-width: 575px) {
  .main {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  .main-title {
    font-size: 60px;
    line-height: 75px;
  }

  .main-arrow {
    margin-top: 30px;
  }
}

.projects-menu {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  max-width: 1300px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects-menu__item {
  padding: 4px;
  max-height: 304px;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

@media (max-width: 1299px) {
  .projects-menu {
    max-width: 650px;
  }

  .projects-menu__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .projects-menu__item {
    max-height: 250px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.employees-list {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.employees-list__item {
  margin-left: 5px;
  first-child-margin-left: 0;
}

.employee-photo {
  max-width: 246px;
}

.employee-photo img {
  width: 100%;
}

.employee-text {
  width: 246px;
  background-color: #f9f9f9;
  text-align: left;
  padding: 20px 20px 36px 20px;
}

.employee__position {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d4af37;
}

.employee__name {
  margin-top: 21px;
  font-size: 21px;
  font-weight: 400;
  color: #021725;
}

.employee__description {
  margin-top: 37px;
  font-size: 13px;
  font-weight: 300;
  line-height: 23px;
  color: #021725;
}

@media (max-width: 767px) {
  .employees-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .employees-list__item {
    margin-top: 20px;
    width: 100%;
    first-child-margin-top: 0;
  }

  .employee-photo {
    max-width: 100%;
  }

  .employee-photo img {
    width: 100%;
  }

  .employee-text {
    width: 100%;
  }
}

.blog-block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-img {
  height: 387px;
}

.blog-img img {
  max-height: 100%;
}

.blog-text {
  max-width: 387px;
  height: 387px;
  background-color: #f9f9f9;
  padding-top: 44px;
  padding-right: 39px;
  padding-left: 39px;
  padding-bottom: 44px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog-text__date {
  font-size: 13px;
  font-weight: 400;
  color: #505d68;
  text-transform: uppercase;
}

.blog-text__title {
  font-size: 30px;
  font-weight: 400;
  color: #505d68;
}

.blog-text__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #505d68;
}

.blog-text__button {
  margin-top: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 125px;
}

@media (max-width: 767px) {
  .blog-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: none;
    width: 100%;
  }

  .blog-img {
    height: 300px;
    max-width: none;
    width: 100%;
  }

  .blog-img img {
    max-width: 100%;
    max-height: none;
  }

  .blog-text {
    height: 390px;
    width: 100%;
  }

  .blog-text__description {
    font-size: 13px;
  }
}

.contacts-card {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-card__map {
  width: 768px;
}

.contacts-card__map img {
  width: 100%;
}

.contacts-card__blocks {
  width: 768px;
  background-color: #f9f9f9;
  list-style-type: none;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contacts-block {
  margin-top: 53px;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.contacts-block__title {
  font-size: 19;
  font-weight: 600;
  color: #505d68;
}

.contacts-block__value {
  margin-top: 40px;
  font-size: 19px;
  font-weight: 300;
  line-height: 34px;
  color: #505d68;
}

@media (max-width: 767px) {
  .contacts-card__map {
    width: 100%;
  }

  .contacts-card__blocks {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts-block {
    margin-top: 30px;
  }

  .contacts-block__value {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .contacts-block {
    margin-top: 25px;
  }

  .contacts-block__title {
    font-size: 16px;
  }

  .contacts-block__value {
    margin-top: 15px;
    font-size: 16px;
  }
}

.footer {
  background-color: #f9f9f9;
  padding-top: 40px;
  padding-bottom: 36px;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-text__block {
  margin-left: 14%;
  font-size: 16px;
  font-weight: 300;
}

.footer-text__block:first-child {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .footer-text__block {
    margin-left: 10%;
  }
}

@media (max-width: 767px) {
  .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-text__block {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .footer-text__block {
    font-size: 12px;
  }
}