.header
	position: fixed
	top: 0
	left: 0
	right: 0
	display: flex
	justify-content: space-between
	padding: 16px 48px
	background-color: transparent
	&-button
		border: none
		padding-right: 28px
		font-weight: 600
		font-size: 16px
		color: $text-color_light
		display: flex
		align-items: center
		background: transparent url(../img/header/header-menu-icon.png) 90% no-repeat

@media (max-width: 767px)
	.header
		padding: 0
		background-color: rgba(#242f35, 0.7)
		&-logo
			margin-top: 14px
			margin-bottom: 18px
			margin-left: 28px
		&-button
			background-color: rgba(#242f35, 0.9)
			background-position-x: center
			width: 60px
